@font-face {
  font-family: "Roboto";
  src: url("../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot") format("eot");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../shrikhand/Shrikhand-Regular.otf") format("opentype");
}
body {
  font-family: Roboto, Arial, sans-serif;
  position: relative;
}

h4 {
  font-family: Shrikhand, Arial, sans-serif;
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  padding-top: 30px;
  margin-left: 20px;
}
@media screen and (min-width: 415px) {
  h4 {
    text-align: center;
    font-size: 1.8em;
  }
}

/* header */
.fa-arrow-left {
  position: absolute;
  top: 5px;
  left: 15px;
}
@media screen and (min-width: 415px) and (max-width: 1025px) {
  .fa-arrow-left {
    top: 30%;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1025px) {
  .fa-arrow-left {
    font-size: 1.5em;
  }
}

header {
  width: 100%;
  margin: 10px 0px 10px 0px;
  position: relative;
}
header a {
  width: 10%;
  color: black;
}
header figure {
  width: 90%;
  text-align: center;
  margin: 0;
}
header figure img {
  width: 40%;
}
@media screen and (min-width: 1025px) {
  header figure img {
    width: 10%;
  }
}

.fig_index {
  width: 100%;
}

/* en_tete */
.localisation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  box-shadow: inset 0 2px 2px 0px #b4b4b4;
}
.localisation i {
  margin-right: 15px;
  font-size: 12px;
}
.localisation p {
  margin: 0;
  font-size: 0.8em;
}

.description {
  height: 270px;
  background-color: #f0f0f0;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .description {
    height: 220px;
  }
}
.description h1, .description h2 {
  margin: auto;
}
.description h1 {
  width: 70%;
  padding-top: 30px;
  font-size: 1.3em;
}
.description h2 {
  width: 80%;
  padding-top: 20px;
  font-weight: normal;
  font-size: 1em;
}

button {
  margin-top: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px #d2d2d2;
  border: none;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px dimgray;
}
@media screen and (max-width: 245px) {
  button {
    margin-top: 5px;
  }
}

/* fonctionnement */
h3 {
  padding-left: 15px;
}
@media screen and (min-width: 1025px) {
  h3 {
    padding-left: 0;
  }
}

.fonctionnement {
  padding-top: 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1025px) {
  .fonctionnement {
    width: 80%;
    margin: auto;
  }
}

.fonctionnement_menu {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .fonctionnement_menu {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (max-width: 245px) {
  .fonctionnement_menu {
    height: 350px;
  }
}
.fonctionnement_menu div {
  width: 280px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 5px 5px 5px #d2d2d2;
}
@media screen and (max-width: 245px) {
  .fonctionnement_menu div {
    width: 70%;
  }
}
.fonctionnement_menu div:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement_menu div:hover i {
  color: #9356DC;
}
.fonctionnement_menu div p:first-child {
  margin: 0;
  margin-left: -30px;
  margin-right: 15px;
  padding: 2px 7px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.fonctionnement_menu div i {
  color: grey;
  margin-right: 20px;
  font-size: 20px;
}
.fonctionnement_menu div p:last-child {
  margin: 0;
  font-weight: bold;
}

/* restaurants */
.restaurants {
  background-color: #f0f0f0;
  padding-bottom: 30px;
}
.restaurants h3 {
  padding-top: 30px;
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .restaurants h3 {
    width: 80%;
    margin: auto;
  }
}
.restaurants > div {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .restaurants > div {
    width: 80%;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.vignettes {
  width: 90%;
  height: 230px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  position: relative;
  box-shadow: 5px 5px 5px #d2d2d2;
}
@media screen and (min-width: 1025px) {
  .vignettes {
    width: 35%;
    height: 260px;
  }
}
.vignettes span {
  background-color: #99E2D0;
  color: #007d00;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 3;
}
.vignettes figure {
  width: 100%;
  height: 170px;
  margin: 0;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
}
@media screen and (min-width: 1025px) {
  .vignettes figure {
    width: 100%;
    height: 200px;
  }
}
.vignettes img {
  width: 100%;
  height: 250px;
  margin-top: -70px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}
@media screen and (min-width: 1025px) {
  .vignettes img {
    width: 100%;
    height: 320px;
    margin-top: -90px;
  }
}
.vignettes .info_restaurants {
  position: absolute;
  top: 170px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .vignettes .info_restaurants {
    top: 200px;
  }
}
.vignettes .info_restaurants div:first-child {
  position: absolute;
  top: 10px;
}
.vignettes .info_restaurants div:first-child p:first-child {
  font-weight: bold;
}
.vignettes .info_restaurants div:first-child p {
  margin: 0;
  margin-left: 10px;
  font-size: 0.8em;
}
.vignettes .info_restaurants .coeurRempli {
  position: absolute;
  right: 5%;
  top: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1.1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vignettes .info_restaurants .coeurVide {
  position: absolute;
  right: 5%;
  top: 15px;
  font-size: 1.1em;
  z-index: 2;
}
.vignettes .info_restaurants .coeurVide:hover + .cache {
  -webkit-animation: upMove 2s forwards;
  animation: upMove 2s forwards;
}
.vignettes .info_restaurants .coeurVide:hover {
  -webkit-animation: changeColor 1s forwards;
  animation: changeColor 1s forwards;
}
.vignettes .info_restaurants .cache {
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  right: 5%;
  top: 13px;
  z-index: 1;
}

@-webkit-keyframes upMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes upMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes changeColor {
  from {
    color: black;
  }
  to {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes changeColor {
  from {
    color: black;
  }
  to {
    color: rgba(0, 0, 0, 0);
  }
}
/* image */
.photo_pres {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.photo_pres img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .photo_pres img {
    height: 600px;
    margin-top: -200px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.photo_pres_note img {
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .photo_pres_note img {
    height: 600px;
  }
}
@media screen and (min-width: 415px) and (max-width: 1025px) {
  .photo_pres_note img {
    height: 500px;
  }
}

/* photo sur la page d'acceuil */
a:first-child figure, a:nth-child(3) figure, a:nth-child(4) figure {
  overflow: hidden;
}
a:first-child img, a:nth-child(3) img, a:nth-child(4) img {
  height: 230px;
  margin-top: -60px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  a:first-child img, a:nth-child(3) img, a:nth-child(4) img {
    width: 100%;
    height: 320px;
    margin-top: -105px;
  }
}

/* footer */
footer {
  height: 180px;
  background-color: #3c3c3c;
  color: white;
  font-size: 0.8em;
}
footer ul {
  padding: 0;
  margin-top: 10px;
}
footer ul li {
  padding: 5px 5px 0 20px;
  list-style-type: none;
}
@media screen and (min-width: 415px) {
  footer ul li {
    text-align: center;
    font-size: 1.2em;
  }
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li .fa-utensils {
  margin-right: 10px;
}
footer ul li i {
  margin-right: 5px;
}

/* page menu*/
/* section */
.nom_menu {
  background-color: whitesmoke;
  margin-top: -40px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
}
.nom_menu h1 {
  font-family: Shrikhand, Arial, sans-serif;
  margin-bottom: 0;
}
.nom_menu > div {
  width: 90%;
  padding-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .nom_menu > div {
    width: 70%;
  }
}
.nom_menu > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nom_menu .fa-heart {
  margin-top: 20px;
  margin-right: 10px;
}
.nom_menu h2 {
  font-size: 0.9em;
  font-weight: normal;
  position: relative;
  padding-top: 10px;
}
.nom_menu h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
}
.nom_menu button {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 70px;
}
@media screen and (max-width: 245px) {
  .nom_menu button {
    width: 70%;
  }
}

.vignettes_menu {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #d2d2d2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.vignettes_menu > div:first-child {
  padding: 8px 0px 10px 0px;
  width: 100%;
  transition: width 1s;
}
.vignettes_menu p {
  margin: 0;
  font-size: 0.9em;
}
.vignettes_menu:hover > div:first-child {
  width: 80%;
}
.vignettes_menu:hover .wrap {
  max-height: 19px;
  opacity: 0;
  transition: opacity 0s;
}
.vignettes_menu:hover .nowrap {
  width: 50%;
  opacity: 1;
  transition: opacity 0s, width 1s;
}
.vignettes_menu:hover .dwrap {
  max-height: 18px;
  opacity: 0;
  transition: opacity 0s;
}
.vignettes_menu:hover .dnowrap {
  opacity: 1;
  transition: opacity 0s;
}
.vignettes_menu:hover .check {
  right: 0%;
}
.vignettes_menu:hover .fa-check-circle {
  -webkit-animation: rotationHoraire 0.5s 0.2s forwards;
  animation: rotationHoraire 0.5s 0.2s forwards;
}

.vig-1 {
  -webkit-animation: AppearMenu 0.5s 0.1s both;
  animation: AppearMenu 0.5s 0.1s both;
}

.vig-2 {
  -webkit-animation: AppearMenu 0.5s 0.2s both;
  animation: AppearMenu 0.5s 0.2s both;
}

.vig-3 {
  -webkit-animation: AppearMenu 0.5s 0.3s both;
  animation: AppearMenu 0.5s 0.3s both;
}

.vig-4 {
  -webkit-animation: AppearMenu 0.5s 0.4s both;
  animation: AppearMenu 0.5s 0.4s both;
}

.vig-5 {
  -webkit-animation: AppearMenu 0.5s 0.5s both;
  animation: AppearMenu 0.5s 0.5s both;
}

.vig-6 {
  -webkit-animation: AppearMenu 0.5s 0.6s both;
  animation: AppearMenu 0.5s 0.6s both;
}

.vig-7 {
  -webkit-animation: AppearMenu 0.5s 0.7s both;
  animation: AppearMenu 0.5s 0.7s both;
}

.vig-8 {
  -webkit-animation: AppearMenu 0.5s 0.8s both;
  animation: AppearMenu 0.5s 0.8s both;
}

.vig-9 {
  -webkit-animation: AppearMenu 0.5s 0.9s both;
  animation: AppearMenu 0.5s 0.9s both;
}

.vig-10 {
  -webkit-animation: AppearMenu 0.5s 1s both;
  animation: AppearMenu 0.5s 1s both;
}

@-webkit-keyframes AppearMenu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes AppearMenu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.nom {
  width: 70%;
  padding-left: 10px;
  font-weight: bold;
}

.wrap {
  opacity: 1;
  max-height: 50px;
  transition: opacity 0s 1s, max-height 0s 1s;
}

.nowrap {
  position: absolute;
  top: 8px;
  left: 0px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0s 1s, width 1s;
}

.descrPrix {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.descrPrix div {
  width: 75%;
  position: relative;
  height: auto;
}
.descrPrix p {
  font-size: 0.8em;
}
.descrPrix > p {
  width: 10%;
  padding-right: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.descr {
  width: 100%;
  padding-left: 10px;
}

.dwrap {
  opacity: 1;
  max-height: 50px;
  transition: opacity 0s 1s, max-height 0s 1s;
}

.dnowrap {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0s 1s;
}

.check {
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0px;
  right: -20%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transition: right 1s;
}

.fa-check-circle {
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1025px) {
  .menu > div {
    width: 30%;
  }
}

/* Chargement */
.chargement {
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-animation: disappear 2s linear forwards;
  animation: disappear 2s linear forwards;
  position: absolute;
  background-color: white;
  z-index: 4;
}

.cercle {
  border: 3px solid;
  margin: auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}

.cercle1 {
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 250px;
  -webkit-animation: rotationHoraire 2s linear forwards;
  animation: rotationHoraire 2s linear forwards;
}

.cercle2 {
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  width: 120px;
  height: 120px;
  position: relative;
  top: -116px;
  -webkit-animation: rotationAntiHoraire 2s linear forwards;
  animation: rotationAntiHoraire 2s linear forwards;
}

.cercle3 {
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  width: 140px;
  height: 140px;
  position: relative;
  top: -252px;
  -webkit-animation: rotationHoraire 2s linear forwards;
  animation: rotationHoraire 2s linear forwards;
}

@-webkit-keyframes rotationHoraire {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotationHoraire {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotationAntiHoraire {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotationAntiHoraire {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
#texte {
  color: #9356DC;
  font-family: Arial;
  font-size: 10px;
  position: relative;
  top: -335px;
}

/*# sourceMappingURL=style.css.map */
